@import url(../../css/sizes.css);

header {
    background-color: #1b1616;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

div.header {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.header-content {
    display: flex;
    max-width: 1260px;
    height: var(--header-height-large);
    height: var(--header-height-large);
    box-orient: horizontal;
    box-direction: normal;
    flex-direction: row;
    box-align: center;
    align-items: center;
}